<div class="flex flex-row flex-wrap flex-grow mt-16 md:mt-12 h-full">
    <div class="w-full h-full p-3">
        <div class="bg-white border-transparent rounded-lg shadow-lg" style="height: 73vh">
            <div class="bg-gray-700 uppercase text-gray-800 border-b-2 rounded-tl-lg rounded-tr-lg p-2">
                <h5 class="font-bold uppercase text-white pl-1">Compare cases for each country from first day since covid-19 was confirmed</h5>
            </div>
            <div class="p-5" style="height: 60vh;">
                <canvas baseChart
                    [datasets]="lineChartData"
                    [options]="lineChartOptions"
                    [labels]="lineChartLabels"
                    [legend]="lineChartLegend"
                    [chartType]="'line'">
               </canvas>
            </div>
        </div>
    </div>
</div>